@import "../shared/mixins";

:host {
  display: flex;
  flex-direction: column;
}

paper-dialog {
  background: var(--paper-grey-200);
}

paper-dialog > .headline {
  background: #3f51b5;
  margin-top: -24px;
  padding-left: 72px;
  padding-top: 12px;
  padding-bottom: 0;
  color: rgba(255,255,255, 0.7);
}

.modal paper-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -24px;
}

.modal form {
  margin-top: 40px;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 8px;
  flex-shrink: 0;
}

.subtitle {
  font-size: 0.64em;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  color: #9a9a9a;
}

.ticket {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ticket__reporter {
  color: #333333;
  padding: 0 0 4px 0;
}

.ticket__description {
  white-space: pre-wrap;
}

.attachments {
  padding: 8px;
  margin: 0 8px;
  background: var(--paper-blue-grey-100);
  border-radius: 4px;
}

.attachments__attachment {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.attachments__attachment > a {
  text-decoration: none;
}

.attachments__attachment > paper-icon-button {
  padding: 0;
  width: 20px;
  height: 20px;
  color: white;
  visibility: hidden;
}

.attachments__attachment:hover {
  background: var(--paper-blue-grey-400);
}

.attachments__attachment:hover > a {
  color: white;
}

.attachments__attachment:hover > paper-icon-button {
  visibility: visible;
}
