<paper-dialog #dialog *ngIf="!modal" modal (iron-overlay-closed)="onModalClosed($event)">
  <div class="headline">{{ ticket?.project?.name }} > {{ ticket?.version?.name }}</div>
  <paper-dialog-scrollable>
    <bugrap-ticket-editor #modalEditor modal="true" [tickets]="tickets" (tickets-edited)="onModalTicketsEdited($event)"></bugrap-ticket-editor>
  </paper-dialog-scrollable>
  <div class="buttons">
    <vaadin-upload target="http://mockbin.com/request"
                   (upload-success)="onUploadCompleted($event)"
                   (upload-before)="onUploadStarting($event)"></vaadin-upload>
    <div class="extender"></div>
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button dialog-confirm autofocus>Done</paper-button>
  </div>
</paper-dialog>

<div [class.modal]="modal">
  <paper-toolbar>
    <paper-icon-button *ngIf="!batchMode && !modal" icon="icons:open-in-new" (click)="openModal()"></paper-icon-button>
    <span *ngIf="!batchMode" class="title">{{ ticket?.summary }}</span>
    <div *ngIf="batchMode" class="title">
      {{ tickets.length }} reports are selected
      <div class="subtitle">(select a single report to view contents)</div>
    </div>
  </paper-toolbar>

  <form #editorForm="ngForm" class="row">
    <vaadin-combo-box label="Priority" name="priority" ngDefaultControl [(ngModel)]="ticket.priority" [items]="PRIORITY_CHOICES"></vaadin-combo-box>
    <vaadin-combo-box label="Type" name="type" ngDefaultControl [(ngModel)]="ticket.type" [items]="TYPE_CHOICES"></vaadin-combo-box>
    <vaadin-combo-box label="Status" name="status" ngDefaultControl [(ngModel)]="ticket.status" [items]="STATUS_CHOICES"></vaadin-combo-box>
    <vaadin-combo-box label="Assigned to" name="assigned_to" ngDefaultControl
                      [ngModel]="ticket?.assigned_to?.id" (ngModelChange)="onAssignedToChanged($event)"
                      [items]="ASSIGNED_TO_VALUES" item-label-path="name" item-value-path="id"></vaadin-combo-box>
    <vaadin-combo-box label="Version" name="version" ngDefaultControl
                      [ngModel]="ticket?.version?.id" (ngModelChange)="onVersionChanged($event)"
                      [items]="VERSION_VALUES" item-label-path="name" item-value-path="id"></vaadin-combo-box>
    <paper-button *ngIf="!modal" raised (click)="update()" [disabled]="editorForm.form.pristine">Update</paper-button>
    <paper-button *ngIf="!modal" raised (click)="revert()" [disabled]="editorForm.form.pristine">Revert</paper-button>
  </form>

  <section *ngIf="!batchMode" class="ticket">
    <div class="row ticket__reporter">
      <iron-icon icon="social:person"></iron-icon>
      <span>{{ ticket?.reported_by?.name }} ({{ ticket?.reported | amTimeAgo }})</span>
    </div>
    <paper-card>
      <div class="card-content ticket__description">{{ ticket?.description }}</div>
    </paper-card>
  </section>

  <template [ngIf]="modal">
    <section class="ticket" *ngFor="let comment of ticket?.comments">
      <div class="row ticket__reporter">
        <iron-icon icon="social:person"></iron-icon>
        <span>{{ comment.created_by.name }} ({{ comment.created | amTimeAgo }})</span>
      </div>
      <paper-card>
        <div class="card-content ticket__description">{{ comment.description }}</div>
      </paper-card>
    </section>
  </template>

  <section *ngIf="modal" class="ticket">
    <paper-textarea label="Add a new comment" placeholder="Start typing your comments here"
                    ngDefaultControl [(ngModel)]="comment"></paper-textarea>
  </section>

  <section *ngIf="modal && ticket?.attachments?.length > 0" class="attachments">
    <div class="attachments__attachment" *ngFor="let attachment of ticket.attachments">
      <a [href]="attachment.url" target="_blank">{{ attachment.name }}</a>
      <paper-icon-button icon="icons:clear" (click)="removeAttachment(attachment)"></paper-icon-button>
    </div>
  </section>
</div>
