:host {
  display: flex;
  flex-direction: column;
  height: 99%;
  background: var(--paper-grey-200);
}

.row {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.header__combobox {
  flex: 1;
}

/**
 * TODO: move into a new 'bugrap-button-bar' component
 */
.button-bar {
  display: flex;
}

.button-bar > paper-button {
  margin-left: 0;
  margin-right: 0;
  padding-right: 12px;
}

.button-bar > paper-button:not(:first-child) {
  border-left: 1px solid #cecece;
}
/* end of the 'bugrap-button-bar' componen */


vaadin-split-layout {
  flex: 1;
}

bugrap-project-view {
  flex: initial;
}

vaadin-split-layout.maximized > bugrap-project-view {
  height: 100%;
}

bugrap-ticket-editor {
  flex: 1;
}
