<div class="row header">
  <vaadin-combo-box class="header__combobox" label="Select a project" [(value)]="project" [items]="projects"></vaadin-combo-box>
  <div class="button-bar">
    <paper-button><iron-icon icon="social:person"></iron-icon>{{ user.name }}</paper-button>
    <paper-button><iron-icon icon="icons:exit-to-app"></iron-icon>Logout</paper-button>
  </div>
</div>

<div class="row menubar">
  <div class="button-bar">
    <paper-button class="my-custom-button"><iron-icon icon="icons:bug-report"></iron-icon>Report a bug</paper-button>
    <paper-button><iron-icon icon="icons:lightbulb-outline"></iron-icon>Request a feature</paper-button>
    <paper-button>
      <iron-icon icon="icons:settings"></iron-icon>
      Manage project
      <span class="badge">42</span>
    </paper-button>
  </div>
  <paper-input class="menubar__search" no-label-float label="Search" type="search">
    <paper-icon-button suffix icon="icons:search" alt="search" title="search"></paper-icon-button>
  </paper-input>
</div>

<div class="row versionbar">
  <vaadin-combo-box label="Reports for" [(value)]="version" [items]="versions"></vaadin-combo-box>
  <div class="counts">
    <span class="counts__first">5</span>
    <span class="counts__second">15</span>
    <span class="counts__third">180</span>
  </div>
</div>

<div class="row filters">
  <div class="button-group">
    <label class="button-group__label">Assignees</label>
    <paper-button raised toggles>Only me</paper-button>
    <paper-button raised toggles>Everyone</paper-button>
  </div>
  <div class="button-group status">
    <label class="button-group__label">Status</label>
    <paper-button raised toggles>Open</paper-button>
    <paper-button raised toggles>All kinds</paper-button>
    <paper-menu-button ignore-select>
      <paper-button raised toggles class="dropdown-trigger status__button--last">
        <span>Custom</span>
        <iron-icon icon="icons:expand-more"></iron-icon>
      </paper-button>
      <paper-menu class="dropdown-content" multi>
        <paper-checkbox *ngFor="let value of STATUS_VALUES" class="status__option">{{ value }}</paper-checkbox>
      </paper-menu>
    </paper-menu-button>
  </div>
</div>

<vaadin-split-layout vertical>
  <vaadin-grid #grid [items]="tickets" selection-mode="multi" (selected-items-changed)="onSelectionChange($event)">
    <table>
      <colgroup>
        <col name="priority" sortable />
        <col name="type" sortable />
        <col name="summary" sortable resizable/>
        <col name="assigned_to" sortable resizable/>
        <col name="last_modified" sortable resizable/>
        <col name="reported" sortable resizable />
      </colgroup>
    </table>
  </vaadin-grid>
  <div class="split-bottom">
    <div class="row">
      <paper-toolbar>
        <paper-icon-button icon="icons:open-in-new"></paper-icon-button>
        <span class="title">{{ ticket.summary }}</span>
      </paper-toolbar>
    </div>

    <div class="row">
      <vaadin-combo-box label="Priority" [(value)]="ticket.priority" [items]="PRIORITY_VALUES"></vaadin-combo-box>
      <vaadin-combo-box label="Type" [(value)]="ticket.type" [items]="TYPE_VALUES"></vaadin-combo-box>
      <vaadin-combo-box label="Status" [(value)]="ticket.status" [items]="STATUS_VALUES"></vaadin-combo-box>
      <vaadin-combo-box label="Assigned to" [(value)]="ticket.assigned_to" [items]="ASSIGNED_TO_VALUES"></vaadin-combo-box>
      <vaadin-combo-box label="Version" [(value)]="ticket.version" [items]="versions"></vaadin-combo-box>
      <paper-button raised>Update</paper-button>
      <paper-button raised>Revert</paper-button>
    </div>

    <section class="ticket">
      <div class="row ticket__reporter">
        <iron-icon icon="social:person"></iron-icon>
        <span>{{ ticket.reported_by }} ({{ ticket.reported | amTimeAgo }})</span>
      </div>
      <textarea class="ticket__description">{{ ticket.description }}</textarea>
    </section>
  </div>
</vaadin-split-layout>
