<div class="actions-row">
  <paper-button><iron-icon icon="icons:bug-report"></iron-icon>Report a bug</paper-button>
  <paper-button><iron-icon icon="icons:lightbulb-outline"></iron-icon>Request a feature</paper-button>
  <paper-button>
    <iron-icon icon="icons:settings"></iron-icon>
    Manage project
    <span class="badge">42</span>
  </paper-button>
  <div class="extender"></div>
  <paper-input class="actions-row__search" no-label-float label="Search" type="search">
    <paper-icon-button suffix icon="icons:search" alt="search" title="search"></paper-icon-button>
  </paper-input>
</div>

<div class="version-row">
  <vaadin-combo-box label="Reports for" [(value)]="version" [items]="versions"></vaadin-combo-box>
  <div class="counts">
    <span class="counts__first">5</span>
    <span class="counts__second">15</span>
    <span class="counts__third">180</span>
  </div>
</div>

<div class="filters-row">
  <div class="button-group">
    <label class="button-group__label">Assignees</label>
    <paper-material elevation="1">
      <paper-tabs selected="1">
        <paper-tab>Only me</paper-tab>
        <paper-tab>Everyone</paper-tab>
      </paper-tabs>
    </paper-material>
  </div>

  <div class="button-group status">
    <label class="button-group__label">Status</label>
    <paper-material elevation="1">
      <paper-tabs selected="1">
        <paper-tab>Open</paper-tab>
        <paper-tab>All kinds</paper-tab>
        <paper-tab class="button-tab">Custom
          <paper-icon-button class="dropdown-trigger" icon="icons:expand-more" (click)="statusMenu.open()"></paper-icon-button>
        </paper-tab>
      </paper-tabs>
    </paper-material>
    <iron-dropdown #statusMenu no-overlap with-backdrop horizontal-align="right">
      <paper-menu class="dropdown-content" multi>
        <paper-checkbox *ngFor="let status of STATUS_CHOICES" class="status__option" [value]="status.value">{{ status.label }}</paper-checkbox>
      </paper-menu>
    </iron-dropdown>
  </div>
</div>

<vaadin-grid #grid [items]="tickets" selection-mode="multi">
  <table>
    <colgroup>
      <col name="priority" sortable />
      <col name="type" sortable />
      <col name="summary" sortable resizable/>
      <col name="assigned_to" sortable resizable/>
      <col name="last_modified" sortable resizable/>
      <col name="reported" sortable resizable />
    </colgroup>
  </table>
</vaadin-grid>
