:host {
  display: flex;
  flex-direction: column;
}

.badge {
  background: #f09300;
  padding: 5px 8px;
  border-radius: 20px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  margin-left: 8px;
}

.actions-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;

  padding: 0 8px;
  border-top: 1px solid var(--paper-grey-400);
}

.actions-row__search {
  flex: 1 1 320px;
  margin-left: 8px;
}

.version-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  padding: 0 8px;
  border-top: 1px solid var(--paper-grey-400);
  align-items: flex-end;
}

.version-row__counts {
  flex: 1;
  margin-left: 8px;
  padding-bottom: 8px;
}

paper-button {
  flex-shrink: 0;
}

paper-button:hover {
  background-color: var(--paper-grey-300);
}

.filters-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;

  border-top: 1px solid var(--paper-grey-400);
  padding: 8px 8px;
}

.filters-row > .button-group:not(:first-child) {
  margin-left: 24px;
}

/**
 * TODO: figure out why adding classes to polymer elements like paper-button breaks the default styling
 * TODO: set styles via BEM-like classes on polymer elements
 * TODO: move into a new 'bugrap-toggle-button-group' component
 */
.button-group {
  display: flex;
  align-items: center;
}

.button-group__label {
  padding-right: 8px;
}

.button-group paper-material {
  border-radius: 2px;
  background: var(--paper-blue-grey-50);
}

.button-group paper-tabs {
  --paper-tabs: {
    height: 32px;
    overflow: visible;
  };

  --paper-tabs-selection-bar: {
    height: 100%;
  };

  --paper-tabs-selection-bar-color: var(--paper-blue-grey-100);
}

.button-group paper-tab {
  --paper-tab-ink: var(--paper-blue-grey-100);
  --paper-tab-content-unselected: {
    opacity: 0.65;
  };
}

.button-group .button-tab {
  --paper-tab: {
    padding-right: 0;
  };
}

.button-group .button-tab > paper-icon-button {
  --paper-icon-button: {
    padding: 0;
    width: 24px;
    height: 24px;
  };
}
/* end of 'bugrap-toggle-button-group' component */

.status__option {
  display: block;
  padding: 4px 8px;
}

.status__option:first-of-type {
  padding-bottom: 12px;
}

vaadin-grid {
  flex: initial;
  height: 100%;
}
